repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: detect-private-key
      - id: check-merge-conflict

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: [--fix]        # Corrige automatiquement ce qui peut l'être
      - id: ruff-format       # Reformate le code

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        additional_dependencies:
          - sqlmodel
          - fastapi
          - types-psycopg2

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        pass_filenames: false     # Ne pas passer les fichiers au hook
        always_run: true          # Toujours exécuter
        # fail_on_secrets fonctionne si ta version de pre-commit le supporte
        fail_on_secrets: false
